
/* COMMON STYLES MOB*/


    section {
        padding-top: 96px;
        padding-bottom: 96px;
}


/* /COMMON STYLES MOB*/

/* COMMON STYLES DESK */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* /COMMON STYLES DESK */

/* HEDER STYLES MOB */

@media screen and (max-width: 320px) {
    .nav-list {
        display:none;
    }
    .page-heder {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-address {
        display: none;
    }
    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #4D5AE5;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .header-logo .part {
        color: #2E2F42;
    }
    .header-menubt{
        background: none;
        padding: 0;
        border: none;
    }
    .header-menubt-icon {
        fill: #2f2f37;
    }
}

/* /HEDER STYLES MOB */

/* HEADER STYLES DESK */

@media screen and (min-width: 1158px) {

.page-heder {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.page-heder .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.address-list {
    display: flex;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo .part {
    color: #2E2F42;
}
.header-logo {
    margin-right: 76px;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
    color: #404bbf;
}

.studio::before,
.studio::after {
    background: #404bbf;
    content: "";
    bottom: 0;
    left: 0;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    position: absolute;
    bottom: -1px;
}


.nav-link:hover,
.nav-link:focus {
    color: #404BBF
}
.header-address {
    font-style: normal;
    justify-content: flex-end;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover {
    color: #404BBF;
}
.address-link:focus {
    color: #404bbf;
}
}
/* /HEADER STYLES DESK */



/* HERO STYLES */



.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    flex-basis: calc((100% - 72px) / 4);
}

.benefits-block-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    max-width: 264px;
    margin-bottom: 8px;
}

.benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /HERO STYLES */

/* TEAM STYLES */
.team-section {
    background-color: #F4F4FD;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.team-list{
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-name {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
    
}
.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-links-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-icon-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link {
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404BBF;
}

.team-icon {
    fill: #f4f4fd;
}

/* /TEAM STYLES */

/* PORTFOLIO STYLES */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay .overlay-text,
.portfolio-item:focus .overlay .overlay-text {
    transform: translateY(0);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-img-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* PORTFOLIO STYLES */

/* FOOTER STYLES */
.footer-page {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer {
    display: flex;
    align-items: baseline;    
}

.container-footer-logo {
    margin-right: 120px;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo .part {
    color: #F4F4FD;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.contaiter-social-media {
    margin-right: 80px;
}

.contaiter-social-media .social-links-list {
    gap: 16px;
}

.icon-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:hover,
.icon-footer:focus {
    background-color: #31D0AA;
}

.footer-input-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2e2f42;
    background-color: transparent;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-input:focus {
    border-color: #4d5ae5;
}

.footer-subscribe-button {
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background: #404bbf;
}

.footer-button-icon {
    fill: #fff;
    margin-left: 16px;
}

/* /FOOTER STYLES */

/* MODAL */

.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button-close {
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;

}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button-close:hover .modal-close-icon,
.modal-button-close:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-label-wraper {
    margin-bottom: 8px;
}

.input-title {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.conteiner-input {
    position: relative;
}

.modal-input {
    width: 100%;
    padding-left: 38px;
    border-radius: 4px;
    height: 40px;
    border-color: #2e2f42;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.input-icon {
    position: absolute;
    pointer-events: none;
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 50%;
    transform: translateY(-50%);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus~.input-icon {
    fill: #4d5ae5;
}

.modal-comment-wraper {
    margin-bottom: 16px;
}

.modal-form-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.conteiner-ckeckbox {
    margin-bottom: 24px;
}

.checkbox-terms {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    
}

.checkbox-title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-click {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
}

.checkbox-terms:checked+.checkbox-title .checkbox-click {
    background-color: #404bbf;
    border: none;
}

.checkbox-terms:checked+.checkbox-title .checkbox-click {
    fill: #F4F4FD;
}

.link-privacy {
    line-height: 1.33333;
    text-decoration: underline;
    color: #4d5ae5;
    cursor: pointer;
}

.modal-button {
    margin-bottom: 24px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background: #404bbf;
}

/* /MODAL */